/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  background: linear-gradient(180deg, #ffffff, #3f5ffa, #d4af37);
}

body {
  font-family: "lora", serif;
}

.logo {
  height: 150px;
  width: 190px;
  margin-left: 537px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #3f5ffa;
}

.leader-login-tab {
  margin-top: 15px;
  margin-right: 780px;
}

.leader-login-tab a {
  color: white;
  font-style: italic;
  text-decoration: none;
  padding: 14px 16px;
}

.leader-login-tab a:hover {
  color: #3f5ffa;
  background-color: white;
  font-weight: bold;
  font-style: normal;
}

ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin-right: 70px;
}

li a,
.dropdown .dropbtn {
  display: inline-block;
  color: white;
  font-style: italic;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  color: #3f5ffa;
  font-style: normal;
  font-weight: bold;
  background-color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  color: black;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.intro {
  font-family: "cinzel", serif;
  text-align: center;
  color: #d4af37;
  font-size: 40px;
}

.intro-text {
  font-family: "lora",serif;
  font-size: 20px;
  color: blue;
  font-weight: bold;
  text-align: center;
}

.large-red {
  font-size: 30px;
  animation: textChange 5s infinite alternate;
}

@keyframes textChange {
  from {
    color: blue;
    font-size: 30px;
  }
  to {
    color: red;
    font-size: 60px;
  }
}

.join {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 5px #3f5ffa;
  color: #3f5ffa;
  margin-left: 550px;
  padding: 10px;
  width: 150px;
  background-color: white;
}

.join:hover {
  cursor: pointer;
  background-color: #3f5ffa;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 10px #d4af37;
}

#feature-banner {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #d4af37;
  color: white;
  text-align: center;
  padding: 20px;
}

.feature-content {
  font-size: 27px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #3f5ffa;
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.feature-time {
  color: #3f5ffa;
  text-shadow: 2px 2px 2px white;
}

.sub-intro {
  font-weight: 600;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#quick-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.snippet-image1,
.snippet-image2,
.snippet-image3 {
  border-radius: 50%;
  height: 341px;
  width: 355px;
}

a.snippet-image1,
a.snippet-image2,
a.snippet-image3 {
  font-size: 25px;
  text-decoration: none;
}

.snippet-image1 {
  background-image: url("/Images/get-involved.png");
  background-size: cover;
}

.snippet-image2 {
  background-image: url("/Images/service-times.jpg");
  background-size: cover;
}

.snippet-image3 {
  background-image: url("/Images/Church-inside.jpg");
  background-size: cover;
}

.service-times-snippet,
.get-involved-snippet,
.view-sermons-snippet,
.snippet-clips {
  color: #ffffff;
  margin-top: 80px;
  margin-bottom: 20px;
}

.service-times-snippet:hover,
.get-involved-snippet:hover,
.view-sermons-snippet:hover {
  color: #d4af37;
}

p.snippet-clips {
  margin: 0;
}

@keyframes borderChange {
  from {
    border-color: #3f5ffa #d4af37 #ffffff #3f5ffa;
  }
  to {
    border-color: #d4af37 #ffffff #3f5ffa #ffffff;
  }
}

.snippet-clips {
  font-size: 18px;
  color: white;
  font-style: italic;
  font-weight: bold;
  margin-top: 140px;
  margin-bottom: 5px;
}

#pastors-container {
  width: 476px;
  text-align: center;
  margin: 0 auto;
}
.pastors-intro {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 20px;
}

.pastors-image {
  background-image: url("/Images/Pastor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px white;
}

.pastors-words {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.pastors-words,
.pastors-message {
  font-size: 18px;
  font-style: italic;
  color: white;
}

.pastors-message {
  margin-bottom: 10px;
}
